@import url(https://fonts.googleapis.com/css2?family=Courgette);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed);

p {
    font-family: 'Roboto Condensed', sans-serif;
}
#menu {
	text-align: right;
}
#title {
	text-align: left;
	font-family: 'Courgette', cursive;

}
#slogan {
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
}
.heading {
	text-align: right;
	font-family: 'Courgette', cursive;
}

.description {
    text-align: right;
}
#about {
	text-align: center;
	font-family: 'Courgette', cursive;
}
#section{
	text-align: center;
}
img {
	display: block;
	margin-left: inherit;
	margin-right: auto;
	width: 80%
}
#contact {
	text-align: center;
	background-color: red;
	color: white;
	font-weight: bold;
}