@import url(https://fonts.googleapis.com/css2?family=Courgette);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed);

* { margin:0; padding:0; box-sizing: border-box;}

h2 {
	font-family: 'Courgette', cursive;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background-color: #FFF;
    padding: 0;
    margin-bottom: 0 auto;
}

article {
	background-color: #E89C6C;
	text-align: right;
	border-bottom: 2px solid black;
	padding-bottom: 2em;
}

nav {
	background-color: #FFF;
	text-align: right;
	font-size: 1.5em;
}
a {
	text-decoration: none;
}
a:hover {
	background-color: gray;
}
aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
section {
    background-color: #FFF;
    border-bottom: 1px black solid;
    padding: 0;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}
span {
	font-weight: bold;
}

footer > div {
	display: block;
	align-items: center;
}

.heading {
	text-align: right;
	font-family: 'Courgette', cursive;
	font-size: 2em;
}

#logo {
	display: inline;
	margin-left: inherit;
	margin-right: auto;
	width: 50%;
	padding-bottom: 15px;
}

#slogan {
	background-color: #E89C6C;
	text-align: center;
	font-family: 'Courgette', cursive;
	font-style: italic;
	font-size: 2em;
	padding: 1em 0em;
	padding-left: 1em;
}
.menu {
	margin-top: 2em;
	float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#introblog {
	border: 7px black solid;
	width: 50%;
	float: left;
}


#aboutsection {
	text-align: center;
	font-family: 'Courgette', cursive;
}

.about {
	text-align: center;
	margin-top: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    padding-bottom: 2em;
}

#blog {
	display: block;
	margin-right: inherit;
	padding-top: 2em;
	padding-bottom: 2em;
	width: 100%
}

.sentence {
	padding-bottom: 2em;
	padding-top: 2em;
	font-size: 2em;
}

#seemore {
	background-color: red;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	padding: 1em;
	margin-top: 4em;
}

#three_column > div {
	width: 33.33%;
	float: left;
	padding: 2em;
	border: 1px gray solid;
	border-top: 2px black solid;
}

#left {
	background-color: #EBE9F4;
}

#middle {
	background-color: #EEE0CD;
}

#right {
	background-color: #E2FAB5;
}

.section {
	font-weight: bold;
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
}

.images {
	width: 100%;
}

#footer_nav {
	font-size: 1em;
	background-color: #FF957E;
	text-align: center;
}

@media only screen and (max-width: 1200px) {
	#three_column > div {
		float: none;
		width: 100%;
	}
}

@media only screen and (max-width: 730px) {
	#introblog {
	border: 7px black solid;
	width: 100%;
	}

	.description, .heading, #seemore {
		text-align: center;
	}

	.sentence {
		font-size: 1.5em;
	}

	nav {
		width: 100%;
		text-align: center;
		font-size: 2em;
		padding-left: 3.14em;
		padding-right: 2em;
	}

	#three_column > div {
		float: none;
		width: 100%;
	}

	.images {
		width: 80%;
		margin: auto;
		display: block;
	}
}

@media only screen and (max-width: 360px) {
	#logo {
		width: 100%;
		float: none;
	}
	nav {
		text-align: center;
		font-size: 1.5em;
	}
	#slogan {
		display: none;
		font-size: 1em;
		text-align: center;
		width: 100%
	}
	article, .heading {
		text-align: center;
	}

	.heading {
		font-size: 1.5em;
	}

	.sentence {
		font-size: 1em;
	}
	.images {
		display: none;
	}

	#aboutsection, .about {
		display: none;
	}

	#left, #right, #middle {
		float: none;
		width: 100%;
		display: block;
	}
	#three_column {
		padding-left: 0;
	}
	.section {
		text-align: left;
	}

	.vertical {
		display: block;
	}
}



