body {
	 text-align: center;
	 background: url("images/cover_portrait.jpg");
	 background-size: cover;
}
#menu {
	text-align: right;
}
#title, #slogan {
	text-align: left;
}
#slogan {
	font-style: italic;
}
.title {
	text-align: right;
}
img {
	display: block;
	margin-left: inherit;
	margin-right: auto;
	width: 80%
}
#contact {
	background-color: red;
	color: white;
	font-weight: bold;
}